/*GENERALES*/
ul{
        list-style: none;
        display: inline-flex;
        width: 100%;
}
a {
        text-decoration: none;
        color: black;
}
li {
        margin-right: 30px;
}
/*article{
            display: none;
}*/
h1{
    font-weight: bolder;
    font-style: italic;
}
h3 {
        padding-bottom: 30px;
}

/*HEADER*/
header > ul{
                justify-content: flex-end;
                background-color: midnightblue;
                padding: 10px;
}
header >ul >li >a {
                    color: white;
}
header >ul >li >a:hover {
                    font-size: large;
                    font-weight: bolder;
                    color: gold;
}

/*TITULO PRINCIPAL*/
#tittle {
            text-align: center;
            color: midnightblue;
}

/*SEGUNDA BARRA / DISCIPLINAS*/
#disciplinas {
                text-align: center;
}
#disciplinas >ul {
                    justify-content: space-evenly;
                    margin-bottom: 30px;
}

/*ARTICULOS DE DEPORTE*/
article >img {
                box-shadow: 5px 5px 15px black;
}
article >h5 {
                font-style: oblique;
                font-weight: bold;
                margin-bottom: 20px;
}

/*TABLA DE HORARIOS*/
#tablaHora{
                text-align: center;
                padding: 20px;
}
table {
                display: inline;
                margin: 0px;
}
th, td {
                border-spacing: 2px;
                border-width: medium;
                border-color: midnightblue;
                border-collapse: collapse;
                padding: 7px;
                width: 20%;
}
#tablaHora >article {
                        text-align: left;
}
td >a:hover {
                color: midnightblue;
                font-weight: bold;       
}

/*CLASSES PARA BOTONES*/
.miBoton { 
                background-color: midnightblue; 
                padding: 5px; 
                box-sizing: border-box; 
                border: none; 
                outline: none; 
                position: relative; 
                color: white;
} 
.miBoton:hover {
                        color: midnightblue; 
                        background-color: rgba(255, 255, 255, 0);
} 
.miBoton.styleOne::before{ 
        content: ''; 
        position: absolute; 
        top: 0px; 
        left: 0px; 
        right: 0px; 
        bottom: 0px; 
        z-index: -1; 
        /* Se convierte en el background está una capa mas alejado del usuarios*/
        border: 2px solid gold; 
        transition: top, left, right, bottom, 200ms ease-in-out; 
} 
.miBoton.styleOne:hover::before{ 
                                        top: -4px; 
                                        left: -4px; 
                                        right: -4px; 
                                        bottom: -4px; 
}
.miBoton.styleTwo::before{ 
                                content: ''; 
                                position: absolute; 
                                top: 0px; 
                                left: 0px; 
                                right: 0px; 
                                bottom: 0px; 
                                z-index: -1; 
                                background-color: gold; 
                                transition: transform 300ms ease-in-out; 
                                transform: scaleX(0); 
                                transform-origin: left; 
} 
.miBoton.styleTwo:hover::before{       
                                        transform: scaleX(1); 
}
.miBoton.styleTwo { 
                        z-index: 1; 
} 
.miBoton.styleThree::before{ 
                                content: ''; 
                                position: absolute; 
                                top: 0px; 
                                left: 0px; 
                                right: 0px; 
                                bottom: 0px; 
                                z-index: -1; 
                                background-color: midnightblue; 
                                border-radius: 40%; 
                                transition: transform 500ms ease-in-out; 
                                transform: scale(1.5); 
} 
.miBoton.styleThree:hover::before{ 
                                        transform:scale(0); 
} 
.miBoton.styleThree{ 
                        z-index: 1; 
                        overflow: hidden; 
                        background-color: midnightblue; 
} 
.miBoton.styleThree:hover{
                                background-color: gold; 
}
.miBoton.styleFour::before{ 
        content: ''; 
        position: absolute; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        height: 2px; 
        background-color: gold; 
        transition: transform 300ms ease-in-out; 
        transform: scaleX(0); 
       } 
.miBoton.styleFour:hover::before{ transform: scaleX(1); } 

/*CLASES*/
.oculta {
                display: none;
}
.visible {
                display: block;
}
.noOpaca{
                opacity: 0;
}
.opaca {
                opacity: 1;
}
.escalar {
                animation: boing 2s ease-in-out;
}

/*KEYFRAMES*/

@keyframes boing {
        0% {
                transform: scale(1.5)
        };
        100% {
                transform: scale(1)
    };
}